*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
.wrap{
    width: 100%;
    height: 100vh;


}
.container{
    width: 100%;
    min-height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.QuestionsContainer{
    width: 65%;
    margin-top: 50px;
    
}
.frequentQuestionsContainer{
    padding: 60px;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
h6{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 3;
}
p{

    font-weight: 400;

}
.question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    font-size: 24px;
}
.answer{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
.circles{
    width: 343px;
    position: absolute;
    left: 55px;
    top: 20px;
    z-index: 2;
}
.circle{
    position: absolute;
    left: 740px;
    width: 32px;
    z-index: 2;
    top: 50px;
}
.mainPage_logo{
    width: 69px;
    height: 73px;
}
.mainPage_header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 28px 70px 0 70px;
}
.mainPage_ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    height: 45px;
    margin-right: 33px;
}
.mainPage_headerElements{
    display: flex;
}
.mainPage_button{
    width: 135px;
    height: 45px;
    background-color: #F7859C;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.mainPage_li{
    font-size: 16px;
    font-weight: 700;
}
.mainPage_textContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.mainPage_littleText{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -30px;
}
.mainPage_title{
    font-size: 97px;
    font-weight: 700;
    font-family: Montserrat;
}
.mainPage_secondaryText{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 20px;
}
.mainPage_titleTop{
    margin-bottom: -40px;

}
.mainPage_personPicturesContainer{
    position: absolute;
    width: 100%;
    height: 514px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 74px 0 74px;
    align-items: flex-end;


}
.mainPage_PersonImg{
    width: 360px;
    height: 514px;
    z-index: 5;
}
.mainPage_circle1{
    position: absolute;
    width: 634px;
    height: 634px;
    left: 0px;
    top: 220px;
    z-index: -7;

}
.mainPage_circle2{
    position: absolute;
    width: 634px;
    height: 634px;
    right: 70px;
    top: 60px;
    z-index: -7;
}
.mainPage_circlesGroup1{
    position: absolute;
    top: 55px;
    left: 265px;
    width: 245px;
    height: 182px;
}
.mainPage_circlesGroup2{
    position: absolute;
    width: 245px;
    height: 251px;
    top: 460px;
    right: 370px;
    z-index: 6;
}
.mainPage_littleCircle{
    width: 34px;
    height: 36px;
    position: absolute;
    top: 160px;
    left: 680px;
    z-index: -8;
}
.mainPage_burger{
    display: none;
    width: 50px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainPage_burgerRow{
    width: 100%;
    height: 6px;
    border-radius: 20px;
    background-color: #000;
}

/* @media screen and (max-device-width : 390px) {
    .mainPage_header{
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;

    }
    .mainPage_ul{
        display: none;
    }
    #mainPage_button_header{
        display: none;

    }
    .mainPage_burger{
        display: flex;
        margin-left: 125px;
    }
    .mainPage_littleText{
        font-size: 16px;
    }
    .mainPage_title{
        font-size: 64px;
    }
    .mainPage_textContainer{
        width: 100%;
        background-color: #F7859C;
        align-items: center;
    }




} */