*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
.wrap{
    width: 100%;
    height: 100vh;


}
.container{
    width: 100%;
    min-height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.QuestionsContainer{
    width: 65%;
    margin-top: 50px;
    
}
.frequentQuestionsContainer{
    padding: 60px;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
h6{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 3;
}
p{

    font-weight: 400;

}
.question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    font-size: 24px;
}
.answer{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
.circles{
    width: 343px;
    position: absolute;
    left: 55px;
    top: 20px;
    z-index: 2;
}
.circle{
    position: absolute;
    left: 740px;
    width: 32px;
    z-index: 2;
    top: 50px;
}
.mainPage_logo{
    width: 69px;
    height: 73px;
}
.mainPage_header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 28px 70px 0 70px;
}
.mainPage_ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    height: 45px;
    margin-right: 33px;
}
.mainPage_headerElements{
    display: flex;
}
.mainPage_button{
    width: 135px;
    height: 45px;
    background-color: #F7859C;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.mainPage_li{
    font-size: 16px;
    font-weight: 700;
}