*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    height: 100vh;


}
.container{
    width: 100%;
    min-height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.QuestionsContainer{
    width: 65%;
    margin-top: 50px;
    
}
.frequentQuestionsContainer{
    padding: 60px;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
h6{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 3;
}
p{

    font-weight: 400;

}
.question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    font-size: 24px;
}
.answer{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.circles{
    width: 343px;
    position: absolute;
    left: 55px;
    top: 20px;
    z-index: 2;
}
.circle{
    position: absolute;
    left: 740px;
    width: 32px;
    z-index: 2;
    top: 50px;
}
.mainPage_logo{
    width: 69px;
    height: 73px;
}
.mainPage_header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 28px 70px 0 70px;
}
.mainPage_ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    height: 45px;
    margin-right: 33px;
}
.mainPage_headerElements{
    display: flex;
}
.mainPage_button{
    width: 135px;
    height: 45px;
    background-color: #F7859C;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.mainPage_li{
    font-size: 16px;
    font-weight: 700;
}
.mainPage_textContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.mainPage_littleText{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -30px;
}
.mainPage_title{
    font-size: 97px;
    font-weight: 700;
    font-family: Montserrat;
}
.mainPage_secondaryText{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 20px;
}
.mainPage_titleTop{
    margin-bottom: -40px;

}
.mainPage_personPicturesContainer{
    position: absolute;
    width: 100%;
    height: 514px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 74px 0 74px;
    align-items: flex-end;


}
.mainPage_PersonImg{
    width: 360px;
    height: 514px;
    z-index: 5;
}
.mainPage_circle1{
    position: absolute;
    width: 634px;
    height: 634px;
    left: 0px;
    top: 220px;
    z-index: -7;

}
.mainPage_circle2{
    position: absolute;
    width: 634px;
    height: 634px;
    right: 70px;
    top: 60px;
    z-index: -7;
}
.mainPage_circlesGroup1{
    position: absolute;
    top: 55px;
    left: 265px;
    width: 245px;
    height: 182px;
}
.mainPage_circlesGroup2{
    position: absolute;
    width: 245px;
    height: 251px;
    top: 460px;
    right: 370px;
    z-index: 6;
}
.mainPage_littleCircle{
    width: 34px;
    height: 36px;
    position: absolute;
    top: 160px;
    left: 680px;
    z-index: -8;
}
.mainPage_burger{
    display: none;
    width: 50px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainPage_burgerRow{
    width: 100%;
    height: 6px;
    border-radius: 20px;
    background-color: #000;

}


.meetOur{
    margin-top: 30vh;
}
.meetOur_littleText{
    font-size: 18px;
    font-weight: 700;
}
.meetOur_mainText{
    font-size: 65px;
    font-weight: 700;

}
.meetOut_ParagraphName{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.meetOut_ParagraphText{
    font-size: 18px;
    font-weight: 400;
    width: 332px;
}
.meetOur_textAndPicture{
    width: 100%;
}
.meetOur_parts{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.meetOur_part1{
    width: 374px;

}.meetOur_part2{
    width: 600px;
}
.meetOur_hr{
    margin: 20px 0 20px 0;
}
.meetOur_img{
    width: 430px;
}
.meetOur_rightPart{
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.meetOur_decoration{
    width: 34px;
    height: 36px;
    position: absolute;
    left: 690px;
    top: -10px;
    z-index: -23;
}
.exclusiveContent_mainPart{
    width: 100%;
    min-height: 3500px;
    background-color: #FBF1E6;
    padding-left: 235px;
}
.exclusiveContent_littleText{
    font-size: 18px;
    font-weight: 700;
    z-index: 435;
    position: relative;
}
.exclusiveContent_title{
    font-size: 65px;
    font-weight: 700;
}
.exclusiveContent_hr{
    margin: 70px 0 70px 0;
}
.exclusiveContent_secondaryText{
    width: 336px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}
.exclusiveContent_ContainerTitle{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}
.exclusiveContent_reviewEls{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.exclusiveContent_reviewCircles{
    display: flex;
}
.exclusiveContent_conCircles{
    width: 17px;
    height: 18px;
    margin-right: 5px;
}
.exclusiveContent_reviewText{
    font-size: 18px;
    font-weight: 700;
}
.exclusiveContent_personimg{
    width: 392px;
    height: 500px;
}
.exclusiveContent_personContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.exclusiveContent_personContainer_rightPart{
    padding-right: 235px;
}
.exclusiveContent_dec{
    position: absolute;
    top: 327px;
    z-index: 345;
    width: 33px;
    height: 36px;
}
.ourRoadmap{
    align-items: center;
    margin-top: 50px;
    padding: 0px 200px 0px 200px;
    height: 4100px;
}
.ourRoadmap_littletext{
    font-size: 18px;
    font-weight: 700;
}
.ourRoadmap_title{
    font-size: 65px;
    font-weight: 700;
}
.ourRoadmapPart{
    width: 33%;
}
.ourRoadmap_element{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.ourRoadmap_leftPartPic{
    width: 34px;
    height: 36px;

}
.ourRoadmap_leftPart{
    padding: 110px 0 0 0;
}

.ourRoadmap_leftPart_text{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #F7859C;
}
.ourRoadmap_leftPart_percentContaienr{
    display: flex;
    align-items: center;
}
.ourRoadmap_MiddlePartPic{
    width: 529px;
    height: 475px;
    position: absolute;
    z-index: 998;
}
.ourRoadmap_MiddlePart{
    display: flex;
    justify-content: center;
    position: relative;

    
}
.ourRoadmap_MiddlePart_littleText{
    font-size: 18px;
    font-weight: 700;
}
.ourRoadmap_MiddlePart_title{
    font-size: 36px;
    font-weight: 700;
}
.ourRoadmap_MiddlePart_maintext{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.ourRoadmap_MiddlePart_textContainer{
    z-index: 999;
    margin-top: 120px;
}
.ourRoadmap_RightPart_pic1{
    width: 185px;
    height: 423px;
}
.ourRoadmap_element2{
    margin-top: 300px;
}
.ourRoadmap_RightPart{
    display: flex;
    justify-content: flex-end;
}
.ourRoadmap_RightPart_pic2{
    width: 346px;
    height: 458px;
}
.ourRoadmap_RightPart_pic3{
    width: 297px;
    height: 427px;
}
.ourRoadmap_element_dec2{
    position: absolute;
    width: 202px;
    height: 150px;
    top: 200px;
    right: 450px;
    z-index: 9999;
}
.ourRoadmap_element_dec1{
    width: 33px;
    height: 36px;
    position: absolute;
    left: 710px;
    top: -10px;
    z-index: -234;
}
.OurTeam_mainPart{
    width: 100%;
    background-color: #FDDBE2;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OurTeam_littleText{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    z-index: 2;
}
.OurTeam_title{
    font-size: 65px;
    font-weight: 700;
}
.OurTeam_perconImage{
    width: 294px;
    height: 320px;
}
.OurTeam_personProfession{
    font-size: 18px;
    font-weight: 700;
}
.Proffecion_personName{
    font-size: 36px;
    font-weight: 800;
}
.OurTeam_personText{
    text-align: center;
    margin-top: 15px;
}
.OurTeam_peoplesContainer_row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.OurTeam_personContainer{
    margin-right: 47px;
    
}
.OurTeam_decoration{
    position: absolute;
    left: 720px;
    width: 34px;
    height: 36px;
    top: 330px;
    z-index: 1;
}
.futer_mainPart{
    width: 100%;
    height: 380px;
    background-color: #D3D4ED;
    padding: 0px 240px 0px 240px;
}
.futer{
    position: relative;
    display: flex;
    flex-direction: column;

}
.futer_titleAndNavContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.futer_title{
    font-size: 65px;
    font-weight: 700;
}
.futer_navigation{
    font-size: 18px;
    font-weight: 700;
    z-index: 1;
    position: relative;
}
.futer_hr{
    margin: 30px 0 25px 0;
}
.futer_socialMedia{
    font-size: 18px;
    font-weight: 400;
}
.futer_socialMedia_container{
    display: flex;
    width: 430px;
    justify-content: space-between;
}
.futer_navElement{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.futer_SocialMediaAndNavContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.futer_secondaryInformation_El{
    font-size: 14px;
    font-weight: 400;
}
.futer_secondaryInformation{
    width: 362px;
    display: flex;
    justify-content: space-between;
}
.futer_img{
    width: 173px;
    height: 213px;
    position: absolute;
    top: 230px;
    left: 100px;
}
.futer_dec{
    width: 34px;
    height: 36px;
    position: absolute;
    right: 320px;
    top: 380px;
    z-index: 1;
}
.plus{
    transition: transform 3s ease;
}
@media screen and (max-device-width: 500px) {
    .meetOur_parts{
        flex-direction: column;
        
    }
    .meetOur_leftPart{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .meetOur_rightPart{
        width: 100%;
        margin-left: 0px;
        margin-top: 40px;
    }
    .meetOur_mainText{
        text-align: center;
        
    }
    .meetOur_decoration{
        left: 190px;
    }



    .mainPage_header{
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px 0 30px;
    }
    .mainPage_ul{
        display: none;
    }
    #mainPage_button_header{
        display: none;
    }
    .mainPage_burger{
        display: flex;
    }
    .mainPage_littleText{
        font-size: 16px;
    }
    .mainPage_title{
        font-size: 64px;
    }
    .mainPage_textContainer{
        width: 100%;
        align-items: center;
    }
    .mainPage_PersonImg{
        width: 200px;
        height: 286px;
    }
    .mainPage_personPicturesContainer{
        height: 286px;
        padding: 0;
        margin-top: 300px;
        
    }
    .mainPage_littleText{
        margin-bottom: 0px;
    }
    .mainPage_titleTop{
        margin-bottom: -20px;
    }
    .mainPage_circle1{
        width: 250px;
        height: 250px;
        top: 570px;
    }
    .mainPage_circle2{
        width: 250px;
        height: 250px;
        top: 450px;
        left: 250px;
    }

    .mainPage{
        min-height: 125vh;
    }
    .mainPage_circlesGroup1{
        width: 100px;
        height: 74px;
        left: 100px;
        top:  420px;
    }
    .mainPage_circlesGroup2{
        width: 100px;
        height: 102px;
        left: 250px;
        top: 540px;
    }
    .mainPage_textContainer{
        margin-top: 30px;
    }
    .exclusiveContent_mainPart{
        padding: 20px;
    }
    .exclusiveContent_dec{
        top: 120px;
    }
    .exclusiveContent_personContainer{
        flex-direction: column;

    }
    .exclusiveContent_personimg{
        margin-top: 20px;
    }
    .ourRoadmap_element{
        flex-direction: column;
    }
    .ourRoadmap_MiddlePart{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ourRoadmap_MiddlePartPic{
        width: 450px;
        height: 404px;
    }
    .ourRoadmap_MiddlePart_textContainer{
        width: 380px;
        margin-top: 0px;
    }
    .ourRoadmap_leftPart{
        width: 500px;
        padding-left: 20px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 100px;
    }
    .ourRoadmap{
        padding: 20px;
    }
    .ourRoadmap_element2{
        margin-top: 30px;
    }
    .ourRoadmap_RightPart{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        margin-bottom: -100px;
    }
    .ourRoadmap_element_dec1{
        left: 190px;
        top: 10px;
    }
    .ourRoadmap_title{
        width: 100%;
        text-align: center;
    }
    .ourRoadmap_element_dec2{
        left: 260px;
        top: 200px;
    }
    .OurTeam{
        margin-top: 500px;
    }
    .OurTeam_mainPart{
        padding: 20px;
        height: 3000px;
    }
    .OurTeam_peoplesContainer_row{
        flex-direction: column;
        margin-top: 0px;
    }
    .OurTeam_personContainer{
        margin-bottom: 30px;
    }
    .OurTeam_decoration{
        top: 120px;
        left: 210px;
    }
    .frequentQuestionsContainer{
        padding: 20px;
    }
    .QuestionsContainer{
        width: 100%;
        position: relative;
        z-index: 5;
    }
    .circles{
        left: 200px;
        z-index: 2;
    }
    .circle{
        left: 220px;
        top: 15px;
    }
    .mainPage_littleCircle{
        left: 180px;
        top: 110px;
    }
    .futer_mainPart{
        height: 500px;
        padding: 20px;
    }
    .futer_socialMedia_container{
        flex-direction: column;
    }
    .futer_navContainer{
        width: 160px;
    }
    .futer_img{
        left: 130px;
        top: 100px;
        z-index: 6;
    }
    .futer_titleAndNavContainer{
        position: relative;
        z-index: 7;
    }
    .futer_dec{
        left: 360px;
        top: 260px;
    }




}

